/* カスタムCSS */
.deleted {
    color: red;
}

.flash-message {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-form {
    display: none;
}

.edit-form input[type="text"] {
    width: 700px;
    padding: 10px;
}

.interval-setting.hidden {
    display: none;
}

.form-group {
    margin-bottom: 1em;
}
.hidden { 
    display: none; 
}